:root {
	--theme-primary-color: #02699c;
	--theme-secondary-background: #1a1a1a;
	--primary-color: #faf8ff;
}

span.svg,
span.svg > svg {
	height: 1em;
	width: 1em;
	fill: currentColor;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--theme-secondary-background);
	color: var(--primary-color);
	min-height: 100vh;
}


div#main-container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 114px 1fr;
}


#main-container > header .ribbon {
	--ribbon-background-color: #8083ff;
	height: 50px;
	font-size: 1.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--ribbon-background-color);
}

#main-container > header {
	padding: 0;
	margin: 0;
	position: relative;
}

nav {
	display: flex;
	gap: 1rem;
	padding: 1rem 1rem;
	position: sticky;
	top: 0;
	z-index: 1000; /* Ensure it stays above other content */
}

div.menu {
	font-size: 1.8rem;
	padding: 0.2rem;
	position: absolute;
	left: 1rem;
	top: 1rem;
	color: var(--theme-primary-color);
}

@media (min-width: 600px) {
	div.menu {
		display: none;
	}
}

.nav-item button {
	font-size: 1.2rem;
	padding: 4px 10px;
	background-color: transparent;
	border: none;
	position: relative;
}

.nav-item button:focus {
	outline: none;
}

.nav-item:not(.media) button::after {
	content: '';
	width: 100%;
	height: 3px;
	border-radius: 3px;
	background-color: var(--theme-primary-color);
	position: absolute;
	bottom: -3px;
	right: 0;
	left: 0;
	transform: scale(0);
	transition: transform 200ms linear;
	box-shadow: 0 0 5px #02699c, 0 0 10px #02699c, 0 0 20px #02699c,
		0 0 40px #00ffff, /* Neon cyan outer glow */ 0 0 80px #00ffff; /* Neon cyan outer glow */
}

.nav-item:not(.media):hover button::after,
.nav-item button:focus::after {
	transform: scale(1, 1);
	transition: transform 200ms linear;
}

.nav-item.media {
	margin-left: auto;
}

.social-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icon > * {
	transform: scale(1, 1);
	transition: all 200ms linear;
}

.social-icon.facebook-icon:hover > *,
.social-icon.insta-icon:hover > * {
	transform: scale(2, 2);
	transition: all 200ms linear;
}

.social-icon.facebook-icon:hover > * {
	color: #1877f2;
}

.social-icon.social-icon.insta-icon:hover > * {
	background-image: linear-gradient(
		to right,
		#833ab4,
		#b123a4,
		#d3008c,
		#eb0070,
		#f90051,
		#fe2941,
		#ff412f,
		#fe5618,
		#fe711b,
		#fd8825,
		#fd9d33,
		#fcb045
	);
	border-radius: 5px;
	transition: all 200ms linear;
}

main {
	padding: 1rem;
}

section.tab-content {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 1rem;
}

.tab-content {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
}

.tab-content {
	animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#home {
	padding-top: 1rem;
}

abbr {
	text-decoration: none;
}

/* ================== 
    Welcome Effect
================== */

.welcome-effect {
	text-align: center;
	display: flex;
}

#welcome-text {
	font-size: 2em;
	margin-bottom: 20px;
}

.club-img {
	flex-basis: 100px;
	height: auto;
}

.desc > p {
	text-align: justify;
	font-size: 1.2rem;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	font-size: 1rem;
	background-color: #00aa97;
}

footer > p > span.svg > * {
	color: #fd1d1d;
	animation: heartbeat 3s infinite;
}

@keyframes heartbeat {
	0% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}

