#home {
	padding-top: 1rem;
}

abbr {
	text-decoration: none;
}

/* ================== 
    Welcome Effect
================== */

.welcome-effect {
	text-align: center;
	display: flex;
}

.desc {
	padding: 1.5rem;
	padding-left: 2rem;
}

h1 {
	font-family: 'Eczar', serif;
	font-size: 4rem;
	font-weight: 450;
	margin-bottom: 20px;
	line-height: 4rem;
	text-align: left;
}

.club-img {
	flex-basis: 100px;
	height: auto;
}

.desc > p {
	text-align: left;
	font-size: 1.3rem;
	width: 80%;
}

/* =======================
followers effect
======================== */

.follower-effect {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 1rem;
}

.follower-effect > * {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

.follower-effect span.svg {
	font-size: 4rem;
}

span.title {
	font-size: 0.8rem;
}

span.svg + span.stats {
	display: inline-block;
	font-size: 1.5rem;
}
