#home {
	padding-top: 1rem;
}

abbr {
	text-decoration: none;
}

/* ================== 
    Welcome Effect
================== */

.welcome-effect {
	text-align: center;
	display: flex;
}

#welcome-text {
	font-size: 2em;
	margin-bottom: 20px;
}

.club-img {
	flex-basis: 100px;
	height: auto;
}

.desc > p {
	text-align: justify;
	font-size: 1.2rem;
}
