#home {
	padding-top: 1rem;
}

abbr {
	text-decoration: none;
}

/* ================== 
    Welcome Effect
================== */

.welcome-effect {
	text-align: center;
	display: flex;
}

.desc {
	padding: 1rem;
}

h1 {
	font-size: 4rem;
	margin-bottom: 20px;
	line-height: 4rem;
	text-align: left;
}

.club-img {
	flex-basis: 100px;
	height: auto;
}

.desc > p {
	text-align: justify;
	font-size: 1.2rem;
}
