:root {
	--theme-primary-color: #02699c;
	--theme-secondary-background: #1a1a1a;
	--primary-color: #faf8ff;
}

span.svg,
span.svg > svg {
	height: 1em;
	width: 1em;
	fill: currentColor;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--theme-secondary-background);
	color: var(--primary-color);
	min-height: 100vh;
}

main {
	padding: 1rem;
}

section.tab-content {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 1rem;
}
